/* 
 * Droid Arabic Kufi (Arabic) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidKufi-Regular.eot');
  src: url('../fonts/DroidKufi-Regular-iefix.eot') format('embedded-opentype'),
       url('../fonts/DroidKufi-Regular.woff2') format('woff2'),
       url('../fonts/DroidKufi-Regular.woff') format('woff'),
       url('../fonts/DroidKufi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DroidKufi-Bold.eot');
  src: url('../fonts/DroidKufi-Bold-iefix.eot') format('embedded-opentype'),
       url('../fonts/DroidKufi-Bold.woff2') format('woff2'),
       url('../fonts/DroidKufi-Bold.woff') format('woff'),
       url('../fonts/DroidKufi-Bold.ttf') format('truetype');
}


/* 
 * Droid Arabic Naskh (Arabic) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidNaskh-Regular.eot');
  src: url('../fonts/DroidNaskh-Regular-iefix.eot') format('embedded-opentype'),
       url('../fonts/DroidNaskh-Regular.woff2') format('woff2'),
       url('../fonts/DroidNaskh-Regular.woff') format('woff'),
       url('../fonts/DroidNaskh-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DroidNaskh-Bold.eot');
  src: url('../fonts/DroidNaskh-Bold-iefix.eot') format('embedded-opentype'),
       url('../fonts/DroidNaskh-Bold.woff2') format('woff2'),
       url('../fonts/DroidNaskh-Bold.woff') format('woff'),
       url('../fonts/DroidNaskh-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IRAN Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IRANSans.ttf') format('truetype');
}

