@import "app-fontfaces.css";

@import "font-awesome.css";

@import "freelancer.css";

.navbar-custom .navbar-right img {
    direction: rtl;
    display: inline;
    height: 55px;
    width: 55px;
}

.firstPageBaner {
    background-image: url("../Content/img/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 150px;
}

.footballBaner {
    background-image: url("../Content/img/capsule.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 150px;
}

.kitchenBaner {
    background-image: url("../Content/img/kitchen_landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 150px;
}

.navbar-custom .navbar-nav li a:hover {
    color: white;
    cursor: pointer;
}

.inner-well { margin: 20px 20px; }

.floating-label-form-group input,
.floating-label-form-group textarea,
.floating-label-form-group span {
    font-size: 1em;
    padding-right: 10px;
}

.floating-label-form-group:first-child > span {
    margin: auto;
    top: 60%;
}

.floating-label-form-group { height: 55px; }

.small-text {
    font-size: 0.8em;
    padding-right: 5px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #028bff;
    cursor: pointer;
}

img.small-size { height: 200px; }

img.medium-size { height: 400px; }

img.larg-size { height: 500px; }

.navbar-right:last-child { margin-left: 15px !important; }

#portfolio .portfolio-item .portfolio-link { max-width: 100%; }

header .intro-text .header {
    font-family: "IRAN Sans", "Droid Arabic Naskh", Tahoma;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 30px;
}

header .intro-text .text {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 30px;
}

header .intro-text .red { color: red; }

header .with-padding-right {
    padding-bottom: 10%;
    padding-right: 50%;
    padding-top: 10%;
}

header .with-padding-left {
    padding-bottom: 10%;
    padding-left: 30%;
    padding-top: 10%;
}

.password { position: relative; }

.eyeicon {
    box-sizing: border-box;
    cursor: pointer;
    left: 75%;
    position: absolute;
    top: 30px;
}

.loading {
    background-image: url("../Content/img/Loading_icon.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.navbar-custom { background: #4985d2; }

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #2B4F7E;
    border-color: #2B4F7E;
    color: white;
}

.check-input {
    box-sizing: border-box;
    left: 50%;
    position: absolute;
    top: 30px;
}

.middle-button {
    margin-left: auto;
    position: absolute;
    top: 18px;
}

footer .footer-below { background-color: #4985d2; }

.number-text { direction: ltr; }

.center-content {
    margin-left: auto;
    margin-right: auto;
}

.without-border {
    border-bottom: none !important;
    border-top: none !important;
}

.fa-check {
    color: #090;
}

.fa-times {
    color: #b00;
}

.fa-question {
    color: #aaa;
}

.disabled {
    opacity: 0.3;
}

.warning {
    background-color: #ffffcc;
}