/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
    font-family: "IRAN Sans", "Droid Arabic Naskh", Tahoma;
    overflow-x: hidden;
}

p { font-size: 20px; }

p.small { font-size: 16px; }

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #18BC9C;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "IRAN Sans", "Droid Arabic Naskh", Tahoma;
    font-weight: 700;
    text-transform: uppercase;
}

hr.star-light,
hr.star-primary {
    border: none;
    border-top: solid 5px;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2em;
    padding: 0 0.25em;
    position: relative;
    top: -0.8em;
}

hr.star-light { border-color: white; }

hr.star-light:after {
    background-color: #18BC9C;
    color: white;
}

hr.star-primary { border-color: #2C3E50; }

hr.star-primary:after {
    background-color: white;
    color: #2C3E50;
}

.img-centered { margin: 0 auto; }

header {
    background: white;
    color: white;
    text-align: center;
}

header .container {
    padding-bottom: 50px;
    padding-top: 100px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    font-family: "IRAN Sans", "Droid Arabic Naskh", Tahoma;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media (min-width: 768px) {
    header .container {
        padding-bottom: 100px;
        padding-top: 200px;
    }

    header .intro-text .name { font-size: 2em; }

    header .intro-text .skills { font-size: 1.75em; }
}

.navbar-custom {
    background: #2C3E50;
    border: none;
    font-family: "IRAN Sans", "Droid Arabic Naskh", Tahoma;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-custom a:focus { outline: none; }

.navbar-custom .navbar-brand { color: white; }

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active { color: white; }

.navbar-custom .navbar-nav li a { color: white; }

.navbar-custom .navbar-nav li a:hover {
    color: #18BC9C;
    outline: none;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active { color: white; }

.navbar-custom .navbar-nav li.active a {
    background: #18BC9C;
    color: white;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
    background: #18BC9C;
    color: white;
}

.navbar-custom .navbar-toggle {
    border-color: white;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #18BC9C;
    border-color: #18BC9C;
    color: white;
}

@media (min-width: 768px) {
    .navbar-custom {
        -moz-transition: padding 0.3s;
        -webkit-transition: padding 0.3s;
        padding: 10px 0;
        transition: padding 0.3s;
    }

    .navbar-custom .navbar-brand {
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        font-size: 2em;
        transition: all 0.3s;
    }

    .navbar-custom.affix { padding: 10px 0; }

    .navbar-custom.affix .navbar-brand { font-size: 1.5em; }
}

section { padding: 100px 0; }

section h2 {
    font-size: 3em;
    margin: 0;
}

section.success {
    background: #18BC9C;
    color: white;
}

@media (max-width: 767px) {
    section { padding: 75px 0; }

    section.first { padding-top: 75px; }
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    position: relative;
}

#portfolio .portfolio-item .portfolio-link .caption {
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    background: #18bc9c;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all ease 0.5s;
    width: 100%;
}

#portfolio .portfolio-item .portfolio-link .caption:hover { opacity: 1; }

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    color: white;
    font-size: 20px;
    height: 20px;
    margin-top: -12px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i { margin-top: -12px; }

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 { margin: 0; }

#portfolio * { z-index: 2; }

@media (min-width: 767px) {
    #portfolio .portfolio-item { margin: 0 0 30px; }
}

.floating-label-form-group {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    position: relative;
}

.floating-label-form-group input,
.floating-label-form-group textarea,
.floating-label-form-group span {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    font-size: 1.5em;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    resize: none;
    z-index: 1;
}

.floating-label-form-group label {
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    display: block;
    font-size: 0.85em;
    line-height: 1.764705882em;
    margin: 0;
    opacity: 0;
    position: relative;
    top: 2em;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    z-index: 0;
}

.floating-label-form-group:not(:first-child) {
    border-left: 1px solid #eeeeee;
    padding-left: 14px;
}

.floating-label-form-group-with-value label {
    opacity: 1;
    top: 0;
}

.floating-label-form-group-with-focus label { color: #18BC9C; }

form .row:first-child .floating-label-form-group { border-top: 1px solid #eeeeee; }

footer { color: white; }

footer h3 { margin-bottom: 30px; }

footer .footer-above {
    background-color: #2C3E50;
    padding-top: 50px;
}

footer .footer-col { margin-bottom: 50px; }

footer .footer-below {
    background-color: #233140;
    padding: 25px 0;
}

.btn-outline {
    background: transparent;
    border: solid 2px white;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    background: white;
    border: solid 2px white;
    color: #18BC9C;
}

.btn-primary {
    background-color: #2C3E50;
    border-color: #2C3E50;
    color: white;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #1a242f;
    border-color: #161f29;
    color: white;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary { background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-primary .badge {
    background-color: white;
    color: #2C3E50;
}

.btn-success {
    background-color: #18BC9C;
    border-color: #18BC9C;
    color: white;
    font-weight: 700;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #128f76;
    border-color: #11866f;
    color: white;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success { background-image: none; }

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #8bddcd;
    border-color: #8bddcd;
}

.btn-success .badge {
    background-color: white;
    color: #18BC9C;
}

.btn-social {
    border: 2px solid white;
    border-radius: 100%;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    width: 50px;
}

.btn:focus,
.btn:active,
.btn.active { outline: none; }

.scroll-top {
    bottom: 2%;
    height: 50px;
    position: fixed;
    right: 2%;
    width: 50px;
    z-index: 1049;
}

.scroll-top .btn {
    border-radius: 100%;
    font-size: 20px;
    height: 50px;
    line-height: 28px;
    width: 50px;
}

.scroll-top .btn:focus { outline: none; }

.portfolio-modal .modal-content {
    -webkit-box-shadow: none;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin: 0;
}

.portfolio-modal .modal-content img { margin-bottom: 30px; }

.portfolio-modal .modal-content .item-details { margin: 30px 0; }

.portfolio-modal .close-modal {
    background-color: transparent;
    cursor: pointer;
    height: 75px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 75px;
}

.portfolio-modal .close-modal:hover { opacity: 0.3; }

.portfolio-modal .close-modal .lr {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    background-color: #2C3E50;
    height: 75px;
    margin-left: 35px;
    transform: rotate(45deg);
    width: 1px;
    /* Safari and Chrome */
    z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    background-color: #2C3E50;
    height: 75px;
    transform: rotate(90deg);
    width: 1px;
    /* Safari and Chrome */
    z-index: 1052;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}