{% extends "admin/base_site.html" %}


{% block branding %}
  <a href="{% url 'admin:index' %}" class="django-admin-logo">
    <img src="http://uupload.ir/files/nr2n_samson.png">
  </a>
{% endblock %}

{% block footer %}
  <p>Powered by SAMSSON Telecom Industries All rights Reserved 2016</p>
{% endblock %}
