﻿{% load static %}

﻿<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>دنیای شگفت انگیز مخابرات</title>
    <link rel="shortcut icon" href="{% static 'payment/favicon.ico' %}" type="image/x-icon" />
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'payment/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'payment/css/app-fontfaces.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'payment/css/freelancer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'payment/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'payment/css/bootstrap-custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'payment/css/bootstrap-rtl.min.css' %}">
</head>
<body id="page-top" class="index">
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://79.175.176.229:5050/#!/welcome" title="صفحه اصلی">
                <img class="logo" src="{% static 'payment/img/navbar_gbg_logo.png' %}">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="http://79.175.176.229:5050/#!/football" ui-sref-active="active">فوتبال</a>
                </li>
                <li class="page-scroll">
                    <a href="http://tamasha.sefor.ir" target="_blank" ui-sref-active="active">تماشاخانه</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- Header -->
<section>
    {% if payment == 'bill' %}
    <div class="container" id="billInvoice">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>پرداخت قبض تلفن</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="well">
                    <div class="row">
                        <div class="col-lg-12 text-success">
                            <h3>پیش فاکتور</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6 floating-label-form-group controls without-border floating-label-form-group-text">
                            <span>شماره تلفن:</span>
                        </div>
                        <div class="form-group col-lg-9 col-md-8 col-sm-8 col-xs-6 floating-label-form-group controls without-border floating-label-form-group-text">
                            <span name="number">{{ bill.TelNo }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6 floating-label-form-group controls without-border floating-label-form-group-text">
                            <span>شناسه قبض: </span>
                        </div>
                        <div class="form-group col-lg-9 col-md-8 col-sm-8 col-xs-6 floating-label-form-group controls without-border floating-label-form-group-text">
                            <span name="billId">{{ bill.BillID }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6 floating-label-form-group controls without-border floating-label-form-group-text">
                            <span>شناسه پرداخت: {{ bill.PayID }}</span>
                        </div>
                        <div class="form-group col-lg-9 col-md-8 col-sm-8 col-xs-6 floating-label-form-group controls without-border floating-label-form-group-text">
                            <span name="payId"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6 floating-label-form-group controls without-border floating-label-form-group-text">
                            <span>مبلغ قبض: </span>
                        </div>
                        <div class="form-group col-lg-9 col-md-8 col-sm-8 col-xs-6 floating-label-form-group controls without-border floating-label-form-group-text">
                            <span name="amount">{{ bill.Amount }}</span>
                        </div>
                    </div>
                    <br/>
                    <div class="row text-center">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="{{ payment_url }}">
                                <button type="button" id="payBillButton" class="btn btn-success btn-md">پرداخت</button>
                            </a>
                            <a href="{{ util.purchase_callback }}">
                                <button type="button" id="cancelBillButton" class="btn btn-default btn-md">انصراف</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% elif payment == 'adsl' %}
    <div class="container" id="adslInvoice">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>خرید بسته اینترنتی</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="well">
                    <div class="row">
                        <div class="col-lg-12 text-success">
                            <h3>پیش فاکتور</h3>
                        </div>
                    </div>
                    <br/>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-3">قیمت</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="col-md-3">
                                <span name="price">{{ price }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <div class="row text-center">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="{{ payment_url }}">
                                <button type="button" id="payButton" class="btn btn-success btn-md">پرداخت</button>
                            </a>
                            <a href="{{ util.purchase_callback }}">
                                <button type="button" id="cancelButton" class="btn btn-default btn-md">انصراف</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% endif %}
</section>
<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                    <h3>شرکت مخابرات ایران</h3>
                    <div class="footer-content">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> تهران، اتوبان همت، خیابان سردار جنگل، شرکت مخابرات ایران
                    </div>
                    <div class="footer-content ltr-text">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> info@tci.ir
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; TCI VAS Services 2016
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'payment/js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'payment/js/bootstrap.min.js' %}"></script>
</body>
</html>
